// utes color scheme
// colors from https://brand.utah.edu/branding/colors/
$color-red: #CC0000;
$color-black: #000000;
$color-white: #FFFFFF;

$color-wasatch-sunrise: #FFB81D;
$color-gsl: #3ABFC0;
$color-crimson-red: #890000;
$color-granite-peak: #708E99;
$color-salt-flat-grey: #E2E6E6;
$color-digital-grey: #F7F9FB;

$link-color: $color-red;
$btn-primary-color: $color-red;